/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~weather-icons/css/weather-icons.min.css';


html, body {
  height: 100%;
  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}

h4.time {
  font-size: 200px;
}

h4.time small {
  font-size: 50px;
}
