<div class="container-fluid d-flex h-100">
  <div class="row h-100 w-100">
    <div class="col-8 my-auto">
      <h4 class="time text-center">
        {{ currentDateTime | date:"HH:mm"}}<small>{{ currentDateTime | date:"ss" }}</small>
      </h4>
    </div>
    <div class="col-4 my-auto">
      <div class="row h-100">
        <div class="col-12">
          <div class="card weather">
            <div class="card-body">
              <h4 class="card-title" *ngIf="currentWeather">
                <i class="wi" [ngClass]="currentWeather.getIcon()"></i>
                <i class="fa fa-spin fa-spinning"></i>
                {{ currentWeather.main }}
              </h4>
                <h4 class="card-title" *ngIf="!currentWeather">
                  <i class="fa fa-spin fa-spinning"></i>
                  Weather
                </h4>
              <p class="card-text" *ngIf="currentWeather">
                Current: {{ currentWeather.description }},&nbsp;
                <i class="wi wi-thermometer"></i> {{ currentWeather.temperature }}°C,&nbsp;
                <i class="wi wi-cloud"></i> {{ currentWeather.cloudiness }}%
              </p>
              <p class="card-text text-center" *ngIf="!currentWeather">
                <i class="fa fa-spin fa-spinning"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row h-100">
        <div class="col-12">
          <div class="card alarms">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fa fa-bell"></i>
                Alarms
              </h4>
              <p class="card-text">We do need to do something here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
